<section id="hero" class="hero section dark-background">

  <img src="images/hero-bg.jpg" alt="" data-aos="fade-in">

  <div class="container" data-aos="zoom-out" data-aos-delay="100">
    <h2>Emily Jones</h2>
    <p>I'm <span class="typed" data-typed-items="Designer, Developer, Freelancer, Photographer">Photographer</span><span
        class="typed-cursor typed-cursor--blink"></span></p>
    <div class="social-links">

      <a href="#"><mat-icon >home</mat-icon></a>
      <a href="#"><mat-icon >people</mat-icon></a>
      <a href="#"><mat-icon >link</mat-icon></a>
      <a href="#"><mat-icon >list</mat-icon></a>
    </div>
  </div>

</section>
